# Runtime
venv/
__pycache__/
.DS_Store
*.log
*.sqlite

# Secrets
.env
*.env
firebase_cred.json

# Caching
app/cache/*
!app/cache/.gitkeep

# Data
eventbrite_events.json
eventbrite_data.json

# Cloud
.gcloudignore